{% extends "base.html" %}

    {% block content %}
        {% if isfull %}
            {% for name, data, monthData in total %}
                {% include 'showtable.html' %}
            {% endfor %}
        {% else %}
            {{ super() }}
        {% endif %}
    {% endblock %}


    {% block message %}
        {% if isfull %}
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="notification">
                        <div id="text">{{ message }}</div>
                        <div id="type">{{ category }}</div>
                    </div>
                {% endfor %}

              {% endif %}
            {% endwith %}

        {% else %}
            {{ super() }}
        {% endif %}
    {% endblock %}





